CONFIG_IDF_TARGET="esp32s31"
CONFIG_ESPTOOLPY_FLASHSIZE_16MB=y
CONFIG_SPIRAM=y
CONFIG_SPIRAM_MODE_OCT=y
CONFIG_ESP_DEFAULT_CPU_FREQ_MHZ_240=y
CONFIG_FREERTOS_HZ=1000
CONFIG_COMPILER_OPTIMIZATION_PERF=y
CONFIG_AUD03_SAMPLE_RATE=48000
CONFIG_AUD03_BLOCK_FRAMES=480
CONFIG_AUD03_TEST_SECONDS=30
CONFIG_AUD03_VOLUME=18
