CONFIG_IDF_TARGET="esp32s31"
CONFIG_SPIRAM=y
CONFIG_SPIRAM_SPEED_250M=y
CONFIG_SPIRAM_XIP_FROM_PSRAM=y
CONFIG_LV_COLOR_DEPTH_16=y
CONFIG_LV_FONT_SOURCE_HAN_SANS_SC_16_CJK=y
CONFIG_LV_FONT_DEFAULT_SOURCE_HAN_SANS_SC_16_CJK=y
CONFIG_LCD_TEST_ID=5
CONFIG_LCD_PERF_TEXT_LENGTH=1800
CONFIG_LCD_PERF_TEXT_SCROLL_PX=4
