CONFIG_IDF_TARGET="esp32s31"
CONFIG_SPIRAM=y
CONFIG_SPIRAM_SPEED_250M=y
CONFIG_SPIRAM_XIP_FROM_PSRAM=y
CONFIG_LV_COLOR_DEPTH_16=y
CONFIG_LCD_TEST_ID=4
CONFIG_LCD_PERF_BUFFER_MODE_DOUBLE=y
CONFIG_LCD_PERF_TEARING_LAYERS=8
CONFIG_LCD_PERF_TIMER_PERIOD_MS=8
